
#Build output
build/
bin/
classes/
out/
target/
log/

#Gradle
.gradle/

#Maven
.mvn/


#Intellij
/.idea
/.idea/
*.iws
*.iml
*.ipr

#Eclipse
.settings/
.classpath
.project
.metadata

#Node
node_modules/
dist/
coverage/
typings
.env
yarn-debug.log*
yarn-error.log*